        @if(this.authServicio.getTipoEmpleadoNombre()==='ADMINISTRADOR' ||this.authServicio.getTipoEmpleadoNombre()==='EMPLEADO') {
          <app-header-admin-empleado/>
        } @else {
<app-header />

        }

<div class="card">
    <p-dataview #dv [value]="valores">
        <ng-template #list let-items>
            <div class="grid grid-cols-12 gap-4 grid-nogutter">
                <div class="col-span-12" *ngFor="let item of items; let first = first">
                    <div
                        class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
                        [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
                    >
                        <div class="md:w-40 relative">
                 
                            <p-tag
                                [value]="item.tipoReservacion"
                                [severity]="getSeverity(item)"
                                class="absolute dark:!bg-surface-900"
                                [style.left.px]="4"
                                [style.top.px]="4"
                            />
                        </div>
                        <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                    <div class="flex flex-col md:flex-row justify-between items-start gap-2">
                <div>
                  <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">
                    Habitación: {{ item.habitacion.numero_habitacion }}
                  </div>
                  <div class="text-sm text-surface-700 dark:text-surface-200">
                    Camas: {{ item.habitacion.cantidad_camas }}
                  </div>
                  <div class="text-sm text-surface-700 dark:text-surface-200 mt-1">
                    Entrada: {{ item.fechaEntrada }} | Salida: {{ item.fechaSalida }}
                  </div>
                </div>
              </div>
                            <div class="flex flex-col md:items-end gap-8">
                                <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">{{
                                    'Q' + item.precioGlobal
                                }}</span>
                                <div class="flex flex-row-reverse md:flex-row gap-2">
                                     <p-toast />
    <p-confirmdialog />
                                    <p-button
                                        icon="pi pi-shopping-cart"
                                        class="flex-auto md:flex-initial whitespace-nowrap"
                                        label="Pague su reservacion"
                                        (click)="confirm1($event, item)"
                                         [outlined]="true"
                                        [disabled]="item.tipoReservacion === 'CANCELADA'||
                                        item.tipoReservacion === 'PAGADA'"
                                    />
                                    
                                    <p-button
                                        icon="pi pi-file-pdf"
                                        class="flex-auto md:flex-initial whitespace-nowrap"
                                        label="Descargue su reservacion"
                                        (click)="generarFacturaPDF(item)"
                                         [outlined]="true"
                                           [disabled]="item.tipoReservacion === 'CANCELADA'||
                                        item.tipoReservacion === 'EN_ESPERA'"
                                    />
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
</div>

<!-- para la generacion de comentarios-->

<div class="card flex justify-center">
  <p-dialog 
      header="Comentenos su experiencia" 
      [modal]="true" 
      [(visible)]="visibleComentario" 
      [style]="{ width: '30rem' }"
  >

      <!-- calificacion -->
        <div class="card flex justify-center">
            <p-rating [(ngModel)]="calificacion"/>
      </div>

      <div class="flex items-center gap-4 mb-3">
        <label for="Nombre" class="font-semibold w-32">Comentario</label>
<textarea rows="5"cols="30" pTextarea [autoResize]="true" [(ngModel)]="comentario"></textarea>
      </div>


      <!-- Botones -->
      <div class="flex justify-end gap-2 mt-4">
        <p-button 
          label="Cancelar" 
          severity="secondary" 
          (click)="visibleComentario = false" 
        />
        <p-button 
          label="Guardar" 
          (click)="guardarComentario()" 
        />
      </div>

  </p-dialog>
</div>

